.button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	border-radius: 7px;
	border: 1px solid #fefefe;
	background-color: transparent;
	padding: 16px;
	font-size: 16px;
	cursor: pointer;
}
