.textarea {
	min-height: 40px;
	border-radius: 9px;
	background-color: #fff !important;
	outline: none;
	border: none;
	color: #666;
	padding: 16px;
	font-size: 16px;
	font-family: var(--font-inter);
}

.textarea::placeholder {
	color: #bbb;
}
