.form {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.mainFields {
	display: flex;
	gap: 16px;
	flex-wrap: wrap;

	.formItem {
		min-width: 280px;
		flex: 1;
	}
}

.formItem {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
