.form {
	display: flex;
	flex-direction: column;
	gap: 16px;
	position: relative;
}

.mainFields {
	display: flex;
	gap: 16px;
	flex-wrap: wrap;

	.formItem {
		min-width: 280px;
		flex: 1;
	}
}

.formItem {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.error {
	position: absolute;
	bottom: -33px;
	color: #fff;
	font-size: 14px;
	border-radius: 10px;
	text-align: center;
	width: 100%;
}
